<div class="mt-5 container" style="background-color: black">
  <div class="row">
    <h2 class="text-center mt-4 text-light">
      multi steps form / Angular stepper
    </h2>
    <div class="col-md-9 mx-auto">
      <app-stepper [linearModeSelected]="false" #appstepper>
        <cdk-step [label]="'information'">
          <app-information></app-information>
        </cdk-step>
        <cdk-step [label]="'contact'"> <app-contact></app-contact> </cdk-step>
        <cdk-step [label]="'security'">
          <app-security></app-security>
        </cdk-step>
        <cdk-step [label]="'finish'"> <app-finish></app-finish> </cdk-step>
      </app-stepper>
    </div>
  </div>
</div>
